body {
    background-color: rgb(236, 236, 238);
}

.container {
    padding: 90px;
    text-align: center;
    font-family: Arial;
    border-radius: 1px;
}

h1 {
    font-size: 30px;
}
